*{
    margin: 0;
    padding: 0;
}
.card{
    width: 60%;
    height: 450px;
    background-color: #e4e7ed;
    margin-left: 20%;
    margin-top: 3%;
}
.btnbox{
    width: 60%;
    margin-left: 28%;
    margin-top: 1%;
}
#quizhead{
    text-align: center;
    padding-top: 3%;;
    color:#2942c2;
}
#ques{
    padding-left: 5%;
    padding-top: 2%;
    color: #021c4f;
}
#option{
    padding-left: 8%;
    padding-top: 1%;
    color:#2c416b;
}
hr{
    border: 1px dashed #87a9ed;
    margin-top: 1%;
}
#btn{
    width: 30%;
    padding: 10px 24px; 
    cursor: pointer; 
    margin-left: 2%;
    background:#dae8f7;
    border: none;
    color:#2942c2;
}
#btn:hover{
    background:#add0f7;
    color: #041d38;
}
