
body{
	background-color: #9003fc;
}
.card{
	width: 750px;
    height: 550px;
    margin-left: 541px;
    margin-top: 60px;
    border-radius: 20px;
    background: white;
}
#ques{
	margin-top: 10px;
	margin-left: 40px;
	font-size: 17px;
	font-family: 'Roboto Mono';
}
#option{
	margin-left: 51px;
	margin-top: 5px;
	font-family: arial;
}
.btnbox{
	margin-left:29px;
}
#btn{
	width: 310px;
    height: 50px;
    color: blue;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-top: 220px;
    margin-left:20px;
    font-size: 18px;
}
#quizhead{
	text-align: center;
	font-size: 50px;
	 background: -webkit-linear-gradient(#03fc73, #099992);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
